@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

@font-face {
  font-family: 'Malayalam';
  src: url('../fonts/meera.eot');
  src: url('../fonts/meera.eot?#iefix') format('embedded-opentype'),
    url('../fonts/meera.woff') format('woff'),
    url('../fonts/meera.ttf') format('truetype'),
    url('../fonts/meera.svg#Malayalam') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #505962;

  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

}

/*   Nav bar  */

.navbar {
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(156, 63, 63, 0.842) !important;
}

.navbar ul {
  padding-right: 70px;
}

.navbar ul li {
  padding: 0px 20px;

}

.navbar-brand img {

  width: 12rem;
  padding-left: 2rem;
}

.navbar-toggler {
  padding: 1rem;
}

.navbar .navbar-nav .nav-link {
  color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
  color: darkred;
}

/* Cover  */

#home {
  background-image: url(img/backbanner.jpg);
  background-size: cover;
  height: 100vh;
  width: auto;
  display: flex;


}

/*  Cover Text */

.cover-text {
  color: #4d5257;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Manjari', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.cover-text h1 {
  color: rgb(65, 65, 65);
}

/*  image cards  */

.card-img {
  border-radius: 18px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.grid-section .image .card-img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}


.popup-bg {
  height: 100vh;
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.85);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
}

.popup-bg {
  display: none;
}

.popup-bg span {
  position: fixed;
  top: 18%;
  right: 15%;
  font-size: 60px;
  font-weight: 300px;
  color: white;
  cursor: pointer;
  z-index: 106;
}


.popup-image-1 {
  background-image: url(img/img-1.jpg);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: soft-light;
  height: 70%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  margin-top: 35px;
  object-fit: cover;
  border-radius: 18px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.popup-image-1 p {
  position: relative;
  padding: 20px;
}

.popup-image-1::-webkit-scrollbar {
  display: none;
}

/**   image 2  **/

.popup-image-2 {
  background-image: url(img/img-2.jpg);
  background-color: rgba(39, 50, 56, 0.8);
  background-blend-mode: soft-light;
  background-position: bottom;
  height: 70%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  margin-top: 35px;
  object-fit: cover;
  border-radius: 18px;
  background-repeat: no-repeat;
  overflow-x: hidden;

}

.popup-image-2 p {
  position: relative;
  padding: 20px;
}

.popup-image-2::-webkit-scrollbar {
  display: none;
}

/**   image 3  */

.popup-image-3 {
  background-image: url(img/img-3.jpg);
  background-color: rgba(50, 70, 80, 0.8);
  background-blend-mode: soft-light;
  background-position: center center;
  height: 70%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  margin-top: 35px;
  object-fit: cover;
  border-radius: 18px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.popup-image-3 p {
  position: relative;
  padding: 20px;
}

.popup-image-3::-webkit-scrollbar {
  display: none;
}


/**  image 4  **/

.popup-image-4 {
  background-image: url(img/img-4.jpg);
  background-color: rgba(50, 70, 80, 0.8);
  background-blend-mode: soft-light;
  background-position: top;
  height: 70%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  margin-top: 35px;
  object-fit: cover;
  border-radius: 18px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.popup-image-4 p {
  position: relative;
  padding: 20px;
}

.popup-image-4::-webkit-scrollbar {
  display: none;
}

/**  image 5  */


.popup-image-5 {
  background-image: url(img/img-5.jpg);
  background-color: rgba(206, 206, 206, 0.7);
  background-blend-mode: soft-light;
  background-position: center center;
  height: 70%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  margin-top: 35px;
  object-fit: cover;
  border-radius: 18px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.popup-image-5 p {
  position: relative;
  padding: 20px;
}

.popup-image-5::-webkit-scrollbar {
  display: none;
}

/**  image 6  */

.popup-image-6 {
  background-image: url(img/img-6.jpg);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  height: 70%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  margin-top: 35px;
  object-fit: cover;
  border-radius: 18px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.popup-image-6 p {
  position: relative;
  padding: 20px;
}

.popup-image-6::-webkit-scrollbar {
  display: none;
}


/** image 7  */


.popup-image-7 {
  background-image: url(img/img-7.jpg);
  background-color: rgba(252, 252, 252, 0.6);
  background-blend-mode: soft-light;
  background-position: bottom;
  height: 70%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  margin-top: 35px;
  object-fit: cover;
  border-radius: 18px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.popup-image-7 p {
  position: relative;
  padding: 20px;
}

.popup-image-7::-webkit-scrollbar {
  display: none;
}


/** image 8  */


.popup-image-8 {
  background-image: url(img/img-8.jpg);
  background-color: rgba(35, 49, 56, 0.8);
  background-blend-mode: soft-light;
  height: 70%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  margin-top: 35px;
  object-fit: cover;
  border-radius: 18px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.popup-image-8 p {
  position: relative;
  padding: 20px;
}

.popup-image-8::-webkit-scrollbar {
  display: none;
}


/** image 9  */


.popup-image-9 {
  background-image: url(img/img-9.jpg);
  background-color: rgba(28, 40, 46, 0.8);
  background-blend-mode: soft-light;
  background-position: bottom;
  height: 70%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  margin-top: 35px;
  object-fit: cover;
  border-radius: 18px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.popup-image-9 p {
  position: relative;
  padding: 20px;
}

.popup-image-9::-webkit-scrollbar {
  display: none;
}


/** image 10  */


.popup-image-10 {
  background-image: url(img/img-10.jpg);
  background-color: rgba(230, 230, 230, 0.7);
  background-blend-mode: soft-light;
  background-position: right center;
  height: 70%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  margin-top: 35px;
  object-fit: cover;
  border-radius: 18px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.popup-image-10 p {
  position: relative;
  padding: 20px;
}

.popup-image-10::-webkit-scrollbar {
  display: none;
}


/** image 11  */


.popup-image-11 {
  background-image: url(img/img-11.jpg);
  background-color: rgba(37, 52, 59, 0.8);
  background-blend-mode: soft-light;

  height: 70%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  margin-top: 35px;
  object-fit: cover;
  border-radius: 18px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.popup-image-11 p {
  position: relative;
  padding: 20px;
}

.popup-image-11::-webkit-scrollbar {
  display: none;
}



/** image 12  */


.popup-image-12 {
  background-image: url(img/img-12.jpg);
  background-color: rgba(29, 15, 15, 0.7);
  background-blend-mode: soft-light;
  background-position: center;
  height: 70%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  margin-top: 35px;
  object-fit: cover;
  border-radius: 18px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.popup-image-12 p {
  position: relative;
  padding: 20px;
}

.popup-image-12::-webkit-scrollbar {
  display: none;
}


/** image 13  */


.popup-image-13 {
  background-image: url(img/img-13.jpg);
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: soft-light;
  background-position: center;
  height: 70%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  margin-top: 35px;
  object-fit: cover;
  border-radius: 18px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.popup-image-13 p {
  position: relative;
  padding: 20px;
}

.popup-image-13::-webkit-scrollbar {
  display: none;
}


/** image 14  */


.popup-image-14 {
  background-image: url(img/img-14.jpg);
  background-color: rgba(11, 15, 17, 0.7);
  background-blend-mode: soft-light;
  background-position: center;
  height: 70%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  margin-top: 35px;
  object-fit: cover;
  border-radius: 18px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.popup-image-14 p {
  position: relative;
  padding: 20px;
}

.popup-image-14::-webkit-scrollbar {
  display: none;
}


/** image 15  */


.popup-image-15 {
  background-image: url(img/img-15.jpg);
  background-color: rgba(17, 24, 27, 0.7);
  background-blend-mode: soft-light;
  background-position: center;
  height: 70%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  margin-top: 35px;
  object-fit: cover;
  border-radius: 18px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.popup-image-15 p {
  position: relative;
  padding: 20px;
}

.popup-image-15::-webkit-scrollbar {
  display: none;
}


/** image 15  */


.popup-image-16 {
  background-image: url(img/img-16.jpg);
  background-color: rgba(8, 11, 12, 0.7);
  background-blend-mode: soft-light;
  background-position: center;
  height: 70%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  margin-top: 35px;
  object-fit: cover;
  border-radius: 18px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.popup-image-16 p {
  position: relative;
  padding: 20px;
}

.popup-image-16::-webkit-scrollbar {
  display: none;
}


/**  image text   **/

.text-1 {
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.text-2 {
  color: rgb(253, 253, 253);
  font-weight: 700;
}

.text-3 {
  color: rgb(253, 253, 253);
  font-weight: 700;
}

.text-4 {
  color: rgb(253, 253, 253);
  font-weight: 700;
}

.text-4 {
  color: rgb(253, 253, 253);
  font-weight: 700;
}

.text-5 {
  color: rgb(43, 29, 29);
  font-weight: 700;
}

.text-6 {
  color: rgb(43, 29, 29);
  font-weight: 700;
}

.text-7 {
  color: rgb(43, 29, 29);
  font-weight: 700;
}

.text-8 {
  color: rgb(255, 253, 253);
  font-weight: 700;
}

.text-9 {
  color: rgb(255, 253, 253);
  font-weight: 700;
}

.text-10 {
  color: rgb(75, 3, 3);
  font-weight: 700;
}

.text-11 {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.text-12 {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.text-13 {
  color: rgb(6, 1, 34);
  font-weight: 700;
}

.text-14 {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.text-15 {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.text-16 {
  color: rgb(255, 255, 255);
  font-weight: 700;
}


hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 1px solid rgb(71, 71, 71);
  margin: 1em 0;
  padding: 0;
}

/*  instagram story button  */

.insta-story-div {
  text-align: center;
}

.button-dir {
  text-align: center;
}

.story-button {


  background-color: rgb(156, 63, 63);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px;


  background-color: white;
  color: black;
  border: 2px solid rgb(156, 63, 63);




}

.story-button:hover {
  background-color: rgb(156, 63, 63);
  color: white;
}



/*        sieries
        --------------
        -------------      */

.series {
  text-align: center;


}

.series h1 {
  padding-top: 25px;
  font-weight: bolder;
  font-size: 30px;

}

.series-section .image .card-img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}


/** series contents  */



.popup-image-s1 {
  background-image: url(img/series-bg.jpg);
  background-position: center;
  height: 70%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  margin-top: 35px;
  object-fit: cover;
  border-radius: 18px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.popup-image-s1 p {
  position: relative;
  padding: 20px;
}

.popup-image-s1::-webkit-scrollbar {
  display: none;
}

.text-s1 {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 11px;
}


.footer {

  width: 100%;
  height: auto;
  text-align: center;
  background: rgb(156, 63, 63);
  color: white;
  padding-top: 60px;

}

.footer li {
  margin: 5px;
  display: inline-block
}

.footer i {
  cursor: pointer;
}

.social-icon {
  margin-bottom: 15px;

}

/** feedback **/

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(153, 61, 61);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(128, 47, 47);
}

.container {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}


/** media 
 -------------------------
 -------------------------  
 ---------------------------
 ------------------------
 ==========================
 ===========================*/

@media (max-width:768px) {

  .popup-image-1 {
    width: 70%;
    height: 70%;

  }

  .popup-bg span {
    right: 10%;
    top: 9%;
  }

  /*   image 2  */

  .popup-image-2 {
    width: 70%;
    height: 70%;
  }

  /* image 3 */

  .popup-image-3 {
    width: 70%;
    height: 70%;
  }

  /** image 4  */

  .popup-image-4 {
    width: 70%;
    height: 70%;
  }

  .text-4 {
    font-size: 11px;
  }

  /*  image 5 */

  .popup-image-5 {
    width: 70%;
    height: 70%;
  }

  /* iamge 6 */

  .popup-image-6 {
    width: 70%;
    height: 70%;
  }


  /* iamge 7 */

  .popup-image-7 {
    width: 70%;
    height: 70%;
  }

  .text-7 {
    font-size: 11px;
  }

  /* iamge 8 */

  .popup-image-8 {
    width: 70%;
    height: 70%;
  }

  /* iamge 9 */

  .popup-image-9 {
    width: 70%;
    height: 70%;
  }


  /* iamge 10 */

  .popup-image-10 {
    width: 70%;
    height: 70%;
  }


  /* iamge 11 */

  .popup-image-11 {
    width: 70%;
    height: 70%;
  }

  .text-11 {
    font-size: 11px;
  }


  /* iamge 12 */

  .popup-image-12 {
    width: 70%;
    height: 70%;
  }

  /* iamge 13 */

  .popup-image-13 {
    width: 70%;
    height: 70%;
  }

  /* iamge 14 */

  .popup-image-14 {
    width: 70%;
    height: 70%;
  }

  /* iamge 15 */

  .popup-image-15 {
    width: 70%;
    height: 70%;
  }

  /* iamge 16 */

  .popup-image-16 {
    width: 70%;
    height: 70%;
  }


  /*---series---*/

  .series h1 {
    font-size: 20px;
  }

  .series h5 {
    font-size: 5;
    padding: 15px;
  }

  /**  series content  */

  /* image s1 */

  /* iamge 15 */

  .popup-image-s1 {
    width: 70%;
    height: 70%;
  }

}




/*****---------------------*********/

@media (min-width:1130px) {
  .popup-image-1 {

    height: 70%;
    width: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    margin-top: 35px;
    object-fit: cover;
    border-radius: 18px;
    background-repeat: no-repeat;
  }

  .popup-image-2 {

    height: 70%;
    width: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    margin-top: 35px;
    object-fit: cover;
    border-radius: 18px;
    background-repeat: no-repeat;
  }

  .popup-image-3 {

    height: 70%;
    width: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    margin-top: 35px;
    object-fit: cover;
    border-radius: 18px;
    background-repeat: no-repeat;

  }


  .popup-image-4 {

    height: 70%;
    width: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    margin-top: 35px;
    object-fit: cover;
    border-radius: 18px;
    background-repeat: no-repeat;

  }


  .popup-image-5 {

    height: 70%;
    width: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    margin-top: 35px;
    object-fit: cover;
    border-radius: 18px;
    background-repeat: no-repeat;

  }


  .popup-image-6 {

    height: 70%;
    width: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    margin-top: 35px;
    object-fit: cover;
    border-radius: 18px;
    background-repeat: no-repeat;

  }


  .popup-image-7 {

    height: 70%;
    width: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    margin-top: 35px;
    object-fit: cover;
    border-radius: 18px;
    background-repeat: no-repeat;

  }


  .popup-image-8 {

    height: 70%;
    width: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    margin-top: 35px;
    object-fit: cover;
    border-radius: 18px;
    background-repeat: no-repeat;

  }


  .popup-image-9 {

    height: 70%;
    width: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    margin-top: 35px;
    object-fit: cover;
    border-radius: 18px;
    background-repeat: no-repeat;

  }


  .popup-image-10 {

    height: 70%;
    width: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    margin-top: 35px;
    object-fit: cover;
    border-radius: 18px;
    background-repeat: no-repeat;

  }


  .popup-image-11 {

    height: 70%;
    width: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    margin-top: 35px;
    object-fit: cover;
    border-radius: 18px;
    background-repeat: no-repeat;

  }


  .popup-image-12 {

    height: 70%;
    width: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    margin-top: 35px;
    object-fit: cover;
    border-radius: 18px;
    background-repeat: no-repeat;

  }


  .popup-image-13 {

    height: 70%;
    width: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    margin-top: 35px;
    object-fit: cover;
    border-radius: 18px;
    background-repeat: no-repeat;

  }


  .popup-image-14 {

    height: 70%;
    width: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    margin-top: 35px;
    object-fit: cover;
    border-radius: 18px;
    background-repeat: no-repeat;

  }


  .popup-image-15 {

    height: 70%;
    width: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    margin-top: 35px;
    object-fit: cover;
    border-radius: 18px;
    background-repeat: no-repeat;

  }

  .popup-image-16 {

    height: 70%;
    width: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    margin-top: 35px;
    object-fit: cover;
    border-radius: 18px;
    background-repeat: no-repeat;

  }


  /*   series  */

  .popup-image-s1 {

    height: 70%;
    width: 635px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    margin-top: 35px;
    object-fit: cover;
    border-radius: 18px;
    background-repeat: no-repeat;

  }


}